body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1610552050890-fe99536c2615?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=907&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

.container {
  background-color: rgb(228, 204, 172);
  width: 350px;
  height: 500px;
  padding: 1rem;
  border-radius: 20px;
  overflow-y: scroll;
}

.card {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0.5rem 0;
}

.form-submit {
  position: relative;
}

.city {
  width: 85%;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: 1px solid white;
}

.submit {
  position: absolute;
  right: 8px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  padding: 8px;
  background-color: rgb(228, 204, 172);
  border-color: rgb(228, 204, 172);
}

.town-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

.town {
  font-weight: bold;
  transition: 0.5s ease;
}

.icon-condition {
  display: flex;
  justify-content: flex-start;
  transition: 0.5s ease;
}

.icon {
  width: 3rem;
  transition: 0.5s ease;
}

.temp {
  position: relative;
  transition: 0.5s ease;
}

.temperature {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  transition: 0.5s ease;
}

.min-max-temp {
  position: absolute;
  right: 80px;
  bottom: -40px;
  transition: 0.5s ease;
}

.wrapper {
  overflow: hidden;
  padding-top: 1rem;
}

.progress {
  position: relative;
  margin: auto;
  width: 200px;
  height: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border: 3px solid white;
  border-bottom: 0;

}

.progressing {
  width: 200px;
  border: 5px solid rgb(253, 173, 1);
  position: absolute;
  margin: auto;
  height: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom: 0;
  transform-origin: bottom;
  transform: rotate(-180deg);
  left: -5px;
  top: -5px;
  z-index: 3;
}

.bar {
  border: 3px solid white;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.sun {
  padding: 0 1rem;
}

table {
  width: 100%;
}
td {
  padding-bottom: 0.5rem;
}